/* 共通のスタイル設定 */
* {
	box-sizing: border-box; /* ボックスサイズをボーダーを含むように設定 */
	margin: 0; /* 外部マージンをゼロに設定 */
	padding: 0; /* 内部パディングをゼロに設定 */
	font-family: Arial, sans-serif; /* フォントファミリーを設定 */
}

body {
	display: flex; /* フレックスボックスを使って中央寄せ */
	justify-content: center; /* 横方向の中央寄せ */
	align-items: center; /* 縦方向の中央寄せ */
	height: 100vh; /* ビューポートの高さに合わせる */
	background-color: #f5f5f5; /* 背景色を設定 */
}

/* コンテナスタイル */
.container {
	display: flex; /* フレックスボックスを使う */
	justify-content: center; /* 横方向の中央寄せ */
	align-items: center; /* 縦方向の中央寄せ */
	width: 100%; /* 幅を100%に設定 */
	padding: 20px; /* 内部パディングを設定 */
}

.login-container {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.index-content {
	row-gap: 10px;
	margin-bottom: 10px;
}

/* フォームのタイトルのスタイル */
.login-form {
	text-align: auto;
	width: 80%; /* 幅を80%に設定 */
	margin: 5% 10%;
}

.login-form h2 {
	margin-bottom: 20px;
	text-align: center;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 30px; /* アイコン用のスペースを確保 */
}

.password-wrapper #eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888; /* アイコンの色 */
}

/* フォームコンテナスタイル */
.form-container {
	width: 100%; /* 幅を100%に設定 */
	max-width: 800px; /* 最大幅を800pxに設定 */
	padding: 20px; /* 内部パディングを設定 */
	background: #fff; /* 背景色を白に設定 */
	border-radius: 8px; /* 角を丸くする */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ボックスシャドウを設定 */
}

.form-container h2 {
	margin-bottom: 20px; /* 下部マージンを設定 */
	text-align: center; /* テキストを中央寄せ */
}

/* 入力グループスタイル */
.input-group {
	display: flex;
	margin-bottom: 20px; /* 下部マージンを設定 */
}

.input-group label {
	display: block; /* ブロック要素として表示 */
	margin-bottom: 5px; /* 下部マージンを設定 */
	font-weight: bold; /* 太字に設定 */
	min-width: 100px;
}

/* 入力フィールドスタイル */
.input-group input[type="text"], .input-group input[type="password"],
	.input-group input[type="date"] {
	width: 100%; /* 幅を100%に設定 */
	padding: 10px; /* 内部パディングを設定 */
	border: 1px solid #ccc; /* ボーダーを設定 */
	border-radius: 4px; /* 角を丸くする */
	font-size: 14px; /* フォントサイズを設定 */
}

/* 入力フィールドの幅を80%に設定 */
.input-group.input-wide input[type="text"], .input-group.input-wide input[type="password"],
	.input-group.input-wide input[type="date"] {
	width: 80%; /* 幅を80%に設定 */
}

/* 入力フィールドとボタンを横に並べる */
.input-with-button {
	display: flex; /* フレックスボックスを使用して横に並べる */
	align-items: center; /* 垂直方向に中央寄せ */
}

.input-with-button input[type="text"] {
	flex: 1; /* 入力フィールドが可能な限りの幅を占める */
	margin-right: 10px; /* ボタンと入力フィールドの間の隙間を設定 */
}

.input-with-button button {
	flex-shrink: 0; /* ボタンのサイズが縮まないように設定 */
}

/* フォーム非活性時スタイル */
.disabled-form {
	pointer-events: none; /* フォーム全体を非活性にする */
	opacity: 0.5; /* 非活性状態を視覚的に表示 */
}

/* ボタングループスタイル */
.button-group {
	display: flex; /* フレックスボックスを使う */
	justify-content: flex-end; /* 右寄せ */
	gap: 10px; /* ボタン間の隙間を設定 */
}

/* ログインボタングループスタイル */
.login-button-group {
	justify-content: center; /* 中央寄せ */
}

/* ボタンスタイル */
button {
	width: 100px; /* 幅を100pxに設定 */
	padding: 10px; /* 内部パディングを設定 */
	border: none; /* ボーダーを削除 */
	border-radius: 4px; /* 角を丸くする */
	background: #FED813; /* 背景色を設定 */
	color: black; /* テキスト色を黒に設定 */
	font-size: 16px; /* フォントサイズを設定 */
	cursor: pointer; /* カーソルをポインタに設定 */
}

button:hover {
	background: #FFA41D; /* ホバー時の背景色を設定 */
}

.button-group .button.disabled-form {
	background-color: #d3d3d3; /* 灰色に設定 */
	color: #6c757d; /* 文字色を暗い灰色に設定 */
	cursor: not-allowed; /* 非活性時のカーソルを設定 */
}

/* カード全体のスタイル */
.card {
  background-color: #FED813;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 10px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center; /* コンテンツを縦方向に中央揃え */
  align-items: center; /* コンテンツを横方向に中央揃え */
  width: 200px; /* カードの横幅を調整 */
  height: 130px; /* カードの高さを調整 */
  text-decoration: none; /* リンクに下線がつかないようにする */
}

/* カードホバー時のスタイル */
.card:hover {
  background: #FFA41D;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* ボタンのテキストスタイル */
.card span {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

 /* カード内のアイコン */
.card i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #333;
}

/* ul のスタイルをリセット */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; /* カードを横並びに配置 */
  flex-wrap: wrap; /* カードが多い場合に折り返す */
}

/* エラーメッセージスタイル */
.error-message {
	display: none; /* デフォルトで非表示 */
	color: red; /* テキスト色を赤に設定 */
	font-size: 0.9em; /* フォントサイズを設定 */
	margin-top: -20px; /* 上部マージンを設定 */
}

/* ログイン画面 エラーメッセージ */
.error-message.loginError {
	margin-top: -20px;
	margin-left: 100px;
}

/* ユーザ管理画面 エラーメッセージ */
.error-message.manageError {
	margin-left: 100px;
}

/* 勤怠管理画面 表示年月必須エラーメッセージ */
.error-message.attendanceError {
	margin-top: -10px; /* 上部マージンを設定 */
}

/* 勤怠登録画面 土日祝日時の文字 */
.sunday {
    color: red;
}
.saturday {
    color: rgb(0, 128, 255);
}

/* 現在の日付時の背景色 */
.highlight {
    background-color: rgb(230, 242, 255); /* 背景色を指定 */
}

/*エラー時の背景色*/
.error-field{
	background-color: #f2dede;/* 背景色を指定 */
}

/* アラートスタイル */
.alert {
	padding: 15px; /* 内部パディングを設定 */
	margin-bottom: 20px; /* 下部マージンを設定 */
	border: 1px solid transparent; /* ボーダーを設定 (初期設定) */
	border-radius: 4px; /* 角を丸くする */
}

/* 成功アラートスタイル */
.alert-success {
	color: #155724; /* テキスト色を設定 */
	background-color: #d4edda; /* 背景色を設定 */
	border-color: #c3e6cb; /* ボーダー色を設定 */
}

/* エラーアラートスタイル */
.alert-danger {
	color: #a94442; /* テキスト色を設定 */
	background-color: #f2dede; /* 背景色を設定 */
	border-color: #ebccd1; /* ボーダー色を設定 */
}

.alert p {
	margin: 0; /* マージンをゼロに設定 */
}

/* 勤怠管理画面 */

/*上部ユーザ情報表示*/
.info-container {
	display: flex;
	margin-bottom: 20px; /* 下部マージンを設定 */
}

.info-item {
	flex: 1; /* アイテムが均等に広がる */
	padding: 10px;
	white-space: nowrap; /* テキストの折り返しを防ぐ */
}

/* 勤怠管理画面コンテナ */
.attendance-container {
	width: 90%;
	max-width: 1000px;
	max-height: 80vh;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow-x: auto; /*横スクロールを許可 */
}

/* テーブル一覧スタイル */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background: #fff;
}

.table-hover tbody tr:hover {
	background-color: #f5f5f5; /* ホバー時の背景色 */
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
	/* テーブルのセルの内容を折り返さないようにする */
}

th {
	background: #f2f2f2;
	text-align: center; /* テキストを中央寄せ */
}

/* フォームスタイル */
.form-group {
	margin-bottom: 1rem;
}

/* マネージャーのみ表示される申請一覧のコンテナ */
.manager-table-container {
	width: 80%; /* 幅を80%に設定 */
}

/* マネージャーのみ表示される申請一覧のテーブル */
.manager-table {
	width: 100%; /* テーブル自体は親要素に合わせる */
}

/* 出勤時間と退勤時間の入力フォームの横幅調整 */
.input-time {
	width: 80px;
	/* 横幅を短く設定 */
}

/* 出勤時間と退勤時間のカラムの横幅調整 */
th.time-column, td.time-column {
	width: 90px;
	/* カラムの横幅を短く設定 */
}

/* 勤務状況のカラムの横幅調整 */
th.status-column, td.status-column {
	width: 150px;
	/* プルダウンの横幅に合わせて設定 */
}

/* 備考欄の入力フォームの横幅調整 */
input.note {
	width: 450px;
	/* 勤務状況カラムに合わせた横幅設定 */
}

/* メディアクエリ (1200px以下のスクリーン) */
@media ( max-width : 1200px) {
	.container {
		flex-direction: column; /* 縦方向のレイアウトに変更*/
	}
	.form-container {
		max-width: 100%; /*最大幅を100%に設定 */
	}
	.attendance-container {
		width: 100%; /* 幅を100%に設定 */
	}

	/* テーブルカラムのレスポンシブ対応 */
	th, td {
		padding: 8px;
		font-size: 12px;
	}
	th.time-column, td.time-column {
		width: auto; /* 自動調整 */
	}
	th.status-column, td.status-column {
		width: auto; /* 自動調整 */
	}
	input.note {
		width: 100%; /* 幅を100%に設定 */
	}
}

/* メディアクエリ (768px以下のスクリーン) */
@media ( max-width : 768px) {
	.container {
		flex-direction: column; /* 縦方向のレイアウトに変更*/
	}
	.form-container {
		max-width: 100%; /*最大幅を100%に設定 */
	}
	.button-group {
		flex-direction: column; /*縦方向のレイアウトに変更*/
		gap: 10px; /*ボタン間の隙間を設定 */
		justify-content: center; /*中央寄せ*/
	}
	button {
		width: 100%; /*幅を100%に設定*/
	}
	.attendance-container {
		width: 100%; /* 幅を100%に設定 */
	}

	/* テーブルカラムのレスポンシブ対応 */
	th, td {
		padding: 8px;
		font-size: 12px;
	}
	th.time-column, td.time-column {
		width: auto; /* 自動調整 */
	}
	th.status-column, td.status-column {
		width: auto; /* 自動調整 */
	}
	input.note {
		width: 100%; /* 幅を100%に設定 */
	}
	.error-message.attendanceError {
		margin-top: auto; /* 上部マージンを設定 */
	}
}

/* メディアクエリ (480px以下のスクリーン) */
@media ( max-width : 480px) {
	.form-container {
		padding: 15px;
	}
	.form-container h2 {
		font-size: 1.5em;
	}
	.button-group {
		flex-direction: column;
		gap: 10px;
		justify-content: center;
	}
	button {
		width: 100%;
	}
	.attendance-container {
		width: 100%;
	}

	/* テーブルカラムのレスポンシブ対応 */
	th, td {
		padding: 6px;
		font-size: 10px;
	}
	th.time-column, td.time-column {
		width: auto; /* 自動調整 */
	}
	th.status-column, td.status-column {
		width: auto; /* 自動調整 */
	}
	input.note {
		width: 100%; /* 幅を100%に設定 */
	}
	.error-message.attendanceError {
		margin-top: auto; /* 上部マージンを設定 */
	}
}