<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザ管理 | Analix社内管理システム</title>
	<link rel="stylesheet" href="/login/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<script src="/login/js/header.js"></script>
</head>

<body>
	<header th:replace="~{common/header :: header}"></header>

	<div class="container">
		<div class="form-container">
			<h2>ユーザ管理</h2>


			<!-- 検索用フォーム -->
			<form id="search-form" method="post" th:action="@{/userManagement/manage}" th:object="${userForm}"
				onsubmit="return validateSearch()">

				<!-- 成功メッセージ表示 -->
				<div th:if="${successMessage}" class="alert alert-success" role="alert">
					<p th:utext="${successMessage}"></p>
				</div>

				<div class="input-group input-with-button">
					<label for="name">ユーザ名</label>
					<input type="text" class="input-wide" id="name" name="name" th:field="*{name}"
						th:attr="disabled=${loginUser.role != '2'}">
					<div class="button-group input-with-button">
						<button type="submit" name="search" id="search-button"
							th:attr="disabled=${checkSearch == false}"
							th:classappend="${checkSearch == false ? 'disabled-form' : ''}">検索</button>
					</div>
				</div>
				<div class="error-message manageError" id="username-error">ユーザ名を入力してください。</div>
				<!-- エラーメッセージ表示 -->
				<div th:if="${searchError}" class="alert alert-danger" role="alert">
					<p th:utext="${searchError}"></p>
				</div>

			</form>

			<!-- 登録用フォーム -->
			<form id="register-form" method="post" th:action="@{/userManagement/manage}" th:object="${userForm}"
				onsubmit="return validateRegister()">
				<input type="hidden" id="hidden-name" name="name">
				<div class="input-group">
					<label for="nameKana">よみがな</label>
					<input type="text" id="nameKana" name="nameKana" th:field="*{nameKana}"
						th:attr="disabled=${loginUser.role != '2'}">
				</div>
				<div class="input-group">
					<label for="id">ユーザID</label>
					<input type="text" id="id" name="id" autocomplete="new-userId" th:field="*{id}"
						th:attr="disabled=${loginUser.role != '2'}">
				</div>
				<div class="input-group">
					<label for="password">パスワード</label>
					<div class="password-wrapper">
						<input type="password" id="password" name="password" th:field="*{password}"
							th:value="${userForm.password}" autocomplete="new-password">
						<i id="eye" class="fa-solid fa-eye"></i>
					</div>
				</div>
				<div class="input-group">
					<label for="email">email</label>
					<input type="text" id="email" name="email" th:field="*{email}">
				</div>
				<div class="input-group">
					<label for="role">権限</label>
					<select id="role" name="role" th:attr="disabled=${loginUser.role != '2'}">
						<option value="" disabled selected>選択してください</option>
						<option value="1" th:selected="${userForm.role == '1'}">管理者</option>
						<option value="2" th:selected="${userForm.role == '2'}">マネージャ</option>
						<option value="3" th:selected="${userForm.role == '3'}">UM</option>
						<option value="4" th:selected="${userForm.role == '4'}">メンバー</option>
					</select>
				</div>
				<div class="input-group">
					<label for="departmentId">所属部署</label>
					<select id="departmentId" name="departmentId" th:field="*{departmentId}"
						th:attr="disabled=${loginUser.role != '2'}">
						<option value="">選択してください</option>
						<option th:each="department : ${departments}" th:value="${department.departmentId}"
							th:text="${department.name}"
							th:classappend="${department.name.contains('[停止中]') ? ' stop' : ''}">選択肢
						</option>
					</select>
				</div>
				<div class="input-group">
					<label for="workPlace">勤務地</label>
					<input type="text" id="workPlace" name="workPlace" th:field="*{workPlace}">
				</div>
				<div class="input-group">
					<label for="start-date">利用開始日</label>
					<input type="date" id="start-date" name="startDate" th:field="*{startDate}" th:value="${startDate}"
						placeholder="YYYY/MM/DD" th:attr="disabled=${loginUser.role != '2'}">
				</div>
				<!-- エラーメッセージ表示 -->
				<div th:if="${registerError}" class="alert alert-danger" role="alert">
					<p th:utext="${registerError}"></p>
				</div>

				<div class="button-group">
					<button type="button" id="back-button" onclick="history.back()" style="display: none;">戻る</button>
					<button type="submit" class="button" id="delete-button" name="delete"
						th:attr="data-check-stop=${checkStop}"
						th:classappend="${checkStop == false ? 'disabled-form' : ''}">利用停止</button>
					<button type="submit" class="button" id="register-button" name="register">登録</button>
				</div>

			</form>

		</div>
	</div>

	<!-- 検索結果モーダル -->
	<dialog class="dialog" id="userModal" th:if="${showModal}" style="display:block;">
		<div class="dialog-content">
			<h3>ユーザー選択</h3>
			<table class="searchTable">
				<thead>
					<tr>
						<th>名前</th>
						<th>ID</th>
						<th>部署名</th>
						<th>選択</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${userList}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.id}"></td>
						<td th:text="${user.departmentName}"></td>
						<td>
							<button type="button" id="selectUser"
								th:data-name="${user.name}"
								th:data-nameKana="${user.nameKana}"
								th:data-id="${user.id}"
								th:data-email="${user.email}"
								th:data-role="${user.role}"
								th:data-departmentId="${user.departmentId}"
								th:data-workPlace="${user.workPlace}"
								th:data-startDate="${user.startDate}">
								選択
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" id="cancel">キャンセル</button>
		</div>
	</dialog>



	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// URLパラメータの取得
			const urlParams = new URLSearchParams(window.location.search);
			const fromList = urlParams.get('from') === 'employeeList';

			// 戻るボタンの表示・非表示を制御
			const backButton = document.getElementById('back-button');
			if (fromList) {
				backButton.style.display = ''; // ボタンを表示
			} else {
				backButton.style.display = 'none'; // ボタンを非表示
			}

			// ボタンの初期状態を設定
			validateRegister();

			// 入力フィールドにイベントリスナーを追加
			document.querySelectorAll('#register-form input, #register-form select').forEach(input => {
				input.addEventListener('input', validateRegister);
			});
		});


		// 登録時必須チェック
		function validateRegister() {
			const userId = document.getElementById('id').value;
			const userName = document.getElementById('name').value;
			const role = document.getElementById('role').value;
			const departmentId = document.getElementById('departmentId').value;
			const startDate = document.getElementById('start-date').value;
			const email = document.getElementById('email').value;
			const workPlace = document.getElementById('workPlace').value;
			const registButton = document.getElementById('register-button');
			const deleteButton = document.getElementById('delete-button');
			const checkStop = document.getElementById('delete-button').getAttribute('data-check-stop') === 'false';

			// 入力チェック（パスワードフィールドは無視）
			if (!userName || !userId || !role || !departmentId || !startDate || !email || !workPlace) {
				disableButton(registButton);
				disableButton(deleteButton);
				return false; // フォームの送信をキャンセル
			} else {
				enableButton(registButton);
				// checkStopがtrueのときにdeleteButtonを有効化する
				if (checkStop === true) {
					disableButton(deleteButton);
				} else {
					enableButton(deleteButton);
				}
				return true; // フォームの送信を許可
			}
		}

		// ボタンを活性化する関数
		function enableButton(button) {
			button.disabled = false;
			button.classList.remove('disabled-form');
		}

		// ボタンを非活性化する関数
		function disableButton(button) {
			button.disabled = true;
			button.classList.add('disabled-form');
		}

		//パスワードの表示非表示
		let eye = document.getElementById("eye");
		eye.addEventListener('click', function () {
			if (this.previousElementSibling.getAttribute('type') == 'password') {
				this.previousElementSibling.setAttribute('type', 'text');
				this.classList.toggle('fa-eye');
				this.classList.toggle('fa-eye-slash');
			} else {
				this.previousElementSibling.setAttribute('type', 'password');
				this.classList.toggle('fa-eye');
				this.classList.toggle('fa-eye-slash');
			}
		})

		// 登録フォームのhiddenフィールドに値を設定
		document.getElementById('register-form').onsubmit = function () {
			// 検索フォームからの値を取得
			var searchName = document.getElementById('name').value;

			// 登録フォームのhiddenフィールドに値を設定
			document.getElementById('hidden-name').value = searchName;

			// 全ての入力フィールドのdisabled属性を削除
			document.querySelectorAll('#register-form input, #register-form select').forEach(input => {
				input.disabled = false; // disabled属性を削除
			});

			if (!validateRegister()) {
				event.preventDefault(); // フォームの送信をキャンセル
			}
		};

		// ユーザーを選択したときの処理
		document.querySelectorAll('#selectUser').forEach(button => {
			button.addEventListener('click', function () {

				// 選択したユーザーのデータを取得
				const userId = this.getAttribute('data-id');
				const userName = this.getAttribute('data-name');
				const userNameKana = this.getAttribute('data-nameKana');
				const userEmail = this.getAttribute('data-email');
				const userRole = this.getAttribute('data-role');
				const userDepartmentId = this.getAttribute('data-departmentId'); // 所属部署ID
				const userWorkPlace = this.getAttribute('data-workPlace');
				const userStartDate = this.getAttribute('data-startDate');

				// フォームに値を設定
				document.getElementById('id').value = userId; // ユーザID
				document.getElementById('name').value = userName; // ユーザ名
				document.getElementById('nameKana').value = userNameKana; // よみがな
				document.getElementById('email').value = userEmail; // メールアドレス
				document.getElementById('role').value = userRole; // 権限
				document.getElementById('departmentId').value = userDepartmentId;// 所属部署の設定
				
				// 勤務地と利用開始日を設定
				document.getElementById('workPlace').value = userWorkPlace; // 勤務地
				document.getElementById('start-date').value = userStartDate; // 利用開始日

				// モーダルを非表示にする
				document.getElementById('userModal').style.display = 'none';
			});
		});

		// キャンセルボタン押下時にモーダルを閉じる処理
		document.getElementById('cancel').addEventListener('click', function () {
			document.getElementById('userModal').style.display = 'none'; // Hide the modal
		});




	</script>

</body>

</html>