<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザ管理 | Analix社内管理システム</title>
	<link rel="stylesheet" href="/login/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
	<header th:replace="~{common/header :: header}"></header>

	<div class="container">
		<div class="form-container">
					<h2>ユーザ管理</h2>


			<!-- 検索用フォーム -->
			<form id="search-form" method="post" th:action="@{/userManagement/search}" th:object="${userForm}"
				onsubmit="return validateSearch()">

				<!-- 成功メッセージ表示 -->
				<div th:if="${successMessage}" class="alert alert-success" role="alert">
					<p th:utext="${successMessage}"></p>
				</div>

				<div class="input-group input-with-button">
					<label for="name">ユーザ名</label>
					<input type="text" class="input-wide" id="name" name="name" th:field="*{name}">
					<div class="button-group input-with-button">
						<button type="submit">検索</button>
					</div>
				</div>
				<div class="error-message manageError" id="username-error">ユーザ名を入力してください。</div>
				<!-- エラーメッセージ表示 -->
				<div th:if="${searchError}" class="alert alert-danger" role="alert">
					<p th:utext="${searchError}"></p>
				</div>

			</form>

			<!-- 登録用フォーム -->
			<form id="register-form" method="post" th:action="@{/userManagement/register}" th:object="${userForm}"
				onsubmit="return validateRegister()">
				<input type="hidden" id="hidden-name" name="name">
				<input type="hidden" id="hidden-id" name="id">

				<div class="input-group">
					<label for="id">ユーザID</label>
					<input type="text" id="id" name="id" th:field="*{id}" disabled>
				</div>
				<div class="input-group">
					<label for="password">パスワード</label>
					<div class="password-wrapper">
						<input type="password" id="password" name="password" th:field="*{password}">
						<i id="eye" class="fa-solid fa-eye"></i>
					</div>
				</div>
				<div class="input-group">
					<label for="role">権限</label>
					<select id="role" name="role">
						<option value="" disabled selected>選択してください</option>
						<option value="1" th:selected="${userForm.role == '1'}">管理者</option>
						<option value="2" th:selected="${userForm.role == '2'}">マネージャ</option>
						<option value="3" th:selected="${userForm.role == '3'}">UM</option>
						<option value="4" th:selected="${userForm.role == '4'}">メンバー</option>
					</select>
				</div>
				<div class="input-group">
					<label for="departmentId">所属部署</label>
					<select id="departmentId" name="departmentId" th:field="*{departmentId}">
						<option value="">選択してください</option>
						<option th:each="department : ${departments}" th:value="${department.departmentId}"
							th:text="${department.name}"
							th:classappend="${department.name.contains('[停止中]') ? ' stop' : ''}">選択肢
						</option>
					</select>
				</div>
				<div class="input-group">
					<label for="start-date">利用開始日</label>
					<input type="text" id="start-date" name="startDate" th:field="*{startDate}"
						placeholder="YYYY/MM/DD">
				</div>
				<!-- エラーメッセージ表示 -->
				<div th:if="${registerError}" class="alert alert-danger" role="alert">
					<p th:utext="${registerError}"></p>
				</div>

				<div class="button-group">
					<button type="submit" class="button" id="register-button"
						th:classappend="${checkRegister} ? 'disabled-form' : ''"
						th:disabled="${checkRegister}">登録</button>
				</div>

			</form>

		</div>
	</div>

	<script>
		//検索時必須チェック
		function validateSearch() {
			const username = document.getElementById('name').value;
			if (!username) {
				document.getElementById('username-error').style.display = 'block';
				// 登録ボタンを非活性にする
				document.getElementById('register-button').disabled = true;
				return false; // フォームの送信をキャンセル
			} else {
				document.getElementById('username-error').style.display = 'none';
				// 検索成功時に登録ボタンを活性にする
				document.getElementById('register-button').disabled = false;
				return true; // フォームの送信を許可
			}
		}

		//パスワードの表示非表示
		let eye = document.getElementById("eye");
		eye.addEventListener('click', function () {
			if (this.previousElementSibling.getAttribute('type') == 'password') {
				this.previousElementSibling.setAttribute('type', 'text');
				this.classList.toggle('fa-eye');
				this.classList.toggle('fa-eye-slash');
			} else {
				this.previousElementSibling.setAttribute('type', 'password');
				this.classList.toggle('fa-eye');
				this.classList.toggle('fa-eye-slash');
			}
		})

		// 登録フォームのhiddenフィールドに値を設定
		document.getElementById('register-form').onsubmit = function () {
			// 検索フォームからの値を取得
			var searchName = document.getElementById('name').value;
			var searchId = document.getElementById('id').value;

			// 登録フォームのhiddenフィールドに値を設定
			document.getElementById('hidden-name').value = searchName;
			document.getElementById('hidden-id').value = searchId;

			if (!validateRegister()) {
				event.preventDefault(); // フォームの送信をキャンセル
			}
		};
	</script>

</body>

</html>