<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>処理メニュー | Analix社内管理システム</title>
	<link rel="stylesheet" href="/login/styles.css">
</head>

<body>
	<div class="container">
		処理メニュー画面
		
<!--		<tr>
			<td>
				<div class="info-container">
					<div class="info-item">ユーザー名: <span th:text="${loginUser.name}"></span></div>
					<div class="info-item">ユーザーID: <span th:text="${loginUser.id}"></span></div>
					</div>
				</div>
			</td>
		</tr>-->
		
		
		
		
	</div>
</body>

</html>