<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>処理メニュー | Analix社内管理システム</title>
	<link rel="stylesheet" href="/login/styles.css">
</head>

<body>
	<div class="container">
		<div class="form-container">
			<h2>処理メニュー</h2>

			<tr>
				<td>
					<div class="info-container">
						<div class="info-item">ユーザー名: <span th:text="${loginUser.name}"></span></div>
						<div class="info-item">ユーザーID: <span th:text="${loginUser.id}"></span></div>
					</div>
				</td>
			</tr>

			<!-- 管理者用のメニュー -->
			<div th:if="${role} == 'admin'">
				これは管理者
				
				<ul>
				<a th:href="@{/attendance/record}"><button>勤怠承認</button></a>
				<a th:href="@{/userManagement/manage}"><button>ユーザ情報登録・変更</button></a>
				</ul>

			</div>

			<!-- マネージャ用のメニュー -->
			<div th:if="${role} == 'manager'">
				これはマネージャ
				
				<ul>
				<a th:href="@{/attendance/record}"><button>勤怠承認</button></a>
				<a th:href="@{/userManagement/manage}"><button>ユーザ情報登録・変更</button></a>
				</ul>
				
			</div>

			<!-- UM・社員用のメニュー -->
			<div th:if="${role} == 'regular'">
				これはUM・社員
				
				<ul>
				<a th:href="@{/attendance/record}"><button>勤怠承認</button></a>
				<a th:href="@{/userManagement/manage}"><button>ユーザ情報登録・変更</button></a>
				</ul>
				
			</div>


		</div>
	</div>
</body>

</html>