<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>処理メニュー | Analix社内管理システム</title>
	<link rel="stylesheet" href="/login/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<div class="container">
		<div class="menu-container">
			<div class="menu-header-button">
				<h2>処理メニュー</h2>
				<a th:href="@{/logout}"><button>ログオフ</button></a>
			</div>

			<tr>
				<td>
					<div class="info-container">
						<div class="info-item">ユーザー名: <span th:text="${loginUser.name}"></span></div>
						<div class="info-item">ユーザーID: <span th:text="${loginUser.id}"></span></div>
					</div>
				</td>
			</tr>

			<!-- 管理者用のメニュー -->
			<div th:if="${role} == 'admin'">
				<ul>
					<li>
						<a th:href="@{/userManagement/manage}" class="card">
							<i class="fa-solid fa-user"></i>
							<span>ユーザ情報<br>登録・変更</br></span>
						</a>
					</li>
					<li>
						<a class="card">
							<i class="fas fa-users"></i>
							<span>部署検索</span>
						</a>
					</li>

				</ul>
			</div>

			<!-- マネージャ用のメニュー -->
			<div th:if="${role} == 'manager'">

				<ul>
					<li>
						<a th:href="@{/attendance/record}" class="card">
							<i class="fa-solid fa-clock"></i>
							<span>勤怠承認</span>
						</a>
					</li>
					<li>
						<a th:href="@{/report/dailyReport}" class="card">
							<i class="fa-solid fa-file-alt"></i>
							<span>日報承認</span>
						</a>
					</li>
					<li>
						<a th:href="@{/userManagement/manage}" class="card">
							<i class="fa-solid fa-user"></i>
							<span>ユーザ情報<br>登録・変更</br></span>
						</a>
					</li>
					<li>
						<a class="card">
							<i class="fas fa-users"></i>
							<span>部署登録</span>
						</a>
					</li>
				</ul>


			</div>

			<!-- UM・社員用のメニュー -->
			<div th:if="${role} == 'regular'">

				<ul>
					<li>
						<a th:href="@{/attendance/record}" class="card">
							<i class="fa-solid fa-clock"></i>
							<span>勤怠登録</span>
						</a>
					</li>
					<li>
						<a th:href="@{/report/dailyReport}" class="card">
							<i class="fa-solid fa-file-alt"></i>
							<span>日報登録</span>
						</a>
					</li>
				</ul>

			</div>


		</div>
	</div>
</body>

</html>