<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン | Analix社内管理システム</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>

	<div class="login-container">
		<form class="login-form" id="loginForm" th:action="@{/login}" method="post" autoComplete='new-off'>

			<div class="input-group">
				<label for="id">ユーザID</label>
				<input type="text" id="id" name="id">
			</div>
			<span class="error-message" id="idError"></span>

			<div class="input-group">
				<label for="password">パスワード</label>
				<input type="password" id="password" name="password">
			</div>
			<span class="error-message" id="passwordError"></span>

			<div th:if="${error}" class="alert alert-danger" role="alert">
				<p th:utext="${error}"></p>
			</div>

			<div class="button-group login-button-group">
				<button type="submit">ログイン</button>
			</div>

		</form>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const loginForm = document.getElementById("loginForm");

			loginForm.addEventListener("submit", function (event) {
				let valid = true;

				const idInput = document.getElementById("id");
				const idError = document.getElementById("idError");
				const passwordInput = document.getElementById("password");
				const passwordError = document.getElementById("passwordError");

				// エラーメッセージを設定
				const idErrorMessageEmpty = "ユーザIDを入力してください。";
				const idErrorMessageInvalid = "ユーザIDは半角数字のみで入力してください。";
				const idErrorMessageNumber = "半角16文字以内で入力してください。";
				const passwordErrorMessageEmpty = "パスワードを入力してください。";
				const passwordErrorMessageInvalid = "パスワードは半角英数字のみで入力してください。";
				const passwordErrorMessageNumber = "半角16文字以内で入力してください。";

				// 初期状態を設定
				idError.style.display = "none";
				passwordError.style.display = "none";

				const idValue = idInput.value.trim();
				if (idValue === "") {
					idError.textContent = idErrorMessageEmpty;
					idError.style.display = "block";
					valid = false;
				} else if (!/^[0-9]+$/.test(idValue)) {
					idError.textContent = idErrorMessageInvalid;
					idError.style.display = "block";
					valid = false;
				} else if (/.{17,}/.test(idValue)) {
					idError.textContent = idErrorMessageNumber;
					idError.style.display = "block";
					valid = false;
				} else {
					idError.style.display = "none";
				}

				if (passwordInput.value.trim() === "") {
					passwordError.textContent = passwordErrorMessageEmpty;
					passwordError.style.display = "block";
					valid = false;
				} else if (/[^a-zA-Z0-9]/.test(passwordInput.value.trim())) {
					passwordError.textContent = passwordErrorMessageInvalid;
					passwordError.style.display = "block";
					valid = false;
				} else if (/.{17,}/.test(passwordInput.value.trim())) {
					passwordError.textContent = passwordErrorMessageNumber;
					passwordError.style.display = "block";
					valid = false;
				} else {
					passwordError.style.display = "none";
				}

				if (!valid) {
					event.preventDefault();
				}
			});
		});
	</script>

</body>

</html>