<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン | Analix社内管理システム</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>

	<div class="login-container">
		<form class="login-form" id="loginForm" th:action="@{/login}" method="post" autoComplete='new-off'>
			<h2>Analix社内管理システム</h2>

			<div class="input-group">
				<label for="id">ユーザID</label>
				<input type="text" id="id" name="id">
			</div>
			<span class="error-message loginError" id="idError"></span>

			<div class="input-group">
				<label for="password">パスワード</label>
				<div class="password-wrapper">
				<input type="password" id="password" name="password">
				<i id="eye" class="fa-solid fa-eye"></i>
				</div>
			</div>
			<span class="error-message loginError" id="passwordError"></span>

			<!-- エラーメッセージ表示 -->
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<p th:utext="${error}"></p>
			</div>

			<div class="button-group login-button-group">
				<button type="submit">ログイン</button>
			</div>

		</form>
	</div>

	<script>
		//パスワードの表示非表示
		let eye = document.getElementById("eye");
          eye.addEventListener('click', function () {
               if (this.previousElementSibling.getAttribute('type') == 'password') {
                    this.previousElementSibling.setAttribute('type', 'text');
                    this.classList.toggle('fa-eye');
                    this.classList.toggle('fa-eye-slash');
               } else {
                    this.previousElementSibling.setAttribute('type', 'password');
                    this.classList.toggle('fa-eye');
                    this.classList.toggle('fa-eye-slash');
               }
          })
		
		// 必須、入力形式チェック
		// サーバー側で形式チェックのみエラーメッセージを表示させたい、フラグを予定
		document.addEventListener("DOMContentLoaded", function () {
			const loginForm = document.getElementById("loginForm");

			loginForm.addEventListener("submit", function (event) {
				let valid = true;

				const idInput = document.getElementById("id");
				const idError = document.getElementById("idError");
				const passwordInput = document.getElementById("password");
				const passwordError = document.getElementById("passwordError");

				// エラーメッセージを設定
				const idErrorMessageEmpty = "ユーザIDを入力してください。";
				//const idErrorMessageInvalid = "ユーザーID、パスワードが不正、もしくはユーザーが無効です。";
				//const idErrorMessageNumber = "ユーザーID、パスワードが不正、もしくはユーザーが無効です。";
				const passwordErrorMessageEmpty = "パスワードを入力してください。";
				//const passwordErrorMessageInvalid = "ユーザーID、パスワードが不正、もしくはユーザーが無効です。";
				//const passwordErrorMessageNumber = "ユーザーID、パスワードが不正、もしくはユーザーが無効です。";
				const inputErrorMessage = "ユーザーID、パスワードが不正、もしくはユーザーが無効です。";

				// 初期状態を設定
				idError.style.display = "none";
				passwordError.style.display = "none";

				const idValue = idInput.value.trim();
				if (idValue === "") {
					idError.textContent = idErrorMessageEmpty;
					idError.style.display = "block";
					valid = false;
				} else if (!/^[0-9]+$/.test(idValue)) {
					idError.textContent = inputErrorMessage;
					idError.style.display = "block";
					valid = false;
				} else if (/.{17,}/.test(idValue)) {
					idError.textContent = inputErrorMessage;
					idError.style.display = "block";
					valid = false;
				} else {
					idError.style.display = "none";
				}

				if (passwordInput.value.trim() === "") {
					passwordError.textContent = passwordErrorMessageEmpty;
					passwordError.style.display = "block";
					valid = false;
				} else if (/[^a-zA-Z0-9]/.test(passwordInput.value.trim())) {
					passwordError.textContent = inputErrorMessage;
					passwordError.style.display = "block";
					valid = false;
				} else if (/.{17,}/.test(passwordInput.value.trim())) {
					passwordError.textContent = inputErrorMessage;
					passwordError.style.display = "block";
					valid = false;
				} else {
					passwordError.style.display = "none";
				}

				if (!valid) {
					event.preventDefault();
				}
			});
		});
	</script>

</body>

</html>