<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>部署管理登録 | Analix社内管理システム</title>
	<link rel="stylesheet" href="/login/css/styles.css">
</head>

<body>
	<header th:replace="~{common/header :: header}"></header>

	<div class="container">
		<div class="form-container">
				<h2>部署管理</h2>

			<!-- 部署管理フォーム -->
			<form id="departmentForm" th:action="@{/department/manage}" method="post" th:object="${departmentForm}">

				<!-- 成功メッセージ表示 -->
				<div th:if="${successMessage}" class="alert alert-success" role="alert">
					<p th:utext="${successMessage}"></p>
				</div>

				<!-- 新規部署名入力 -->
				<label><b>部署名</b></label>
				<div class="input-group">
					<label for="newDepartment">検索/登録</label>
					<input type="text" id="newDepartment" name="newDepartment" onkeyup="searchDepartment()"
						autocomplete="off" />
				</div>
				<div class="error-message manageError" id="errorNewDepartment"></div>

				<!-- 登録済の部署表示選択プルダウン -->
				<div class="input-group">
					<label for="currentDepartment">登録済部署</label>

					<select name="currentDepartment" id="currentDepartment">
						<option value="">選択してください</option>
						<option th:each="department : ${departments}" th:value="${department.name}"
							th:text="${department.name}"
							th:classappend="${department.name.contains('[停止中]') ? ' stop' : ''}">選択肢
						</option>
					</select>
				</div>
				<!-- エラーメッセージ表示 -->
				<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
					<p th:utext="${errorMessage}"></p>
				</div>

				<div class="button-group">
					<button type="submit" id="register" name="register" class="button"
						onClick="return confirmRegistration()" disabled>新規登録</button>
					<button type="submit" id="update" name="update" class="button" onClick="return confirmUpdate()"
						disabled>部署名変更</button>
					<button type="submit" id="deactivate" name="deactivate" class="button"
						onClick="return confirmDeactivate()" disabled>部署停止</button>
					<button type="submit" id="restart" name="restart" class="button" onClick="return confirmRestart()"
						disabled>部署再開</button>
				</div>


			</form>

		</div>
	</div>
	<script th:src="@{/js/department.js}"></script>
</body>

</html>